.header{
    background-color: #e5e5e5;
    padding: 15px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.menu{
    float: left;
    width: 2%;
}
.main{
    float: left;
    width: 60%;
    padding: 0 70px ;
}