body {
    margin: 0;
}

.g {
    position: relative;
    text-align: center;
}

img {
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto; 
}

.txt {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ff0000;
    font-size: 24px;
    margin: 0;
}
